<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

/** The name of the database for WordPress */
define( 'DB_NAME', '{{ mysql_db }}' );

/** MySQL database username */
define( 'DB_USER', '{{ mysql_user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ mysql_password }}' );

/** MySQL hostname */
define( 'DB_HOST', '{{ mysql_rds }}' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/** Filesystem access **/
define('FS_METHOD', 'direct');
define('WP_MEMORY_LIMIT', '128M');

/** Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'jB7vu1q3$i08|f?0y5bqVl=p`&VgB<-T:Usy|:)RuplCtTUQK}q-2:1i U;*-zs%');
define('SECURE_AUTH_KEY',  ';kyvyf{WM&{w eOuG<u):[3Jr72(1jDd-bc)CurGsyaI>JlD(l> jTx}hXgw#50+');
define('LOGGED_IN_KEY',    '5&DY~-l~i@rwfR:~pPU Ch|xfqe6af)Heu)HT|Z.<MU{8x%/Wv_#UUun6DFM`K*;');
define('NONCE_KEY',        '!KG`xzrh;<}KOPs*^ykt0i&CRc47t<--pgbmMNIl%6q9|bLNq9XFiZ2h/#0p>ZW/');
define('AUTH_SALT',        'g~Vi`N|:oKNG(^f:b$At3<wu(NI4xeX9d2=0)7wZ-5~3K;ip6M_hQiX+$+N,-W=;');
define('SECURE_AUTH_SALT', 'i~.Q82+8cH2f(e4<Z(K3q-H~fAe;jLy^C#Aua+SCR+Ymg)?/^6}&72Ky|T4bCze]');
define('LOGGED_IN_SALT',   'kNW@r/e{t_|+sOaFLVOd%/3kWN?)f(U=;K4!jthg?UEyZ06r1Q54cxb[*cQlHH$M');
define('NONCE_SALT',       '%Rl-~*{J%3!S*-:%R$>^`Ah{p3bG[{9a@#^Ve}ti[/U=x+.HETRqjCaTB<zIe-6o');

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/** Absolute path to the WordPress directory. */
if ( !defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );

/**
 * Disable pingback.ping xmlrpc method to prevent WordPress from participating in DDoS attacks
 * More info at: https://docs.bitnami.com/general/apps/wordpress/troubleshooting/xmlrpc-and-pingback/
 */
if ( !defined( 'WP_CLI' ) ) {
    // remove x-pingback HTTP header
    add_filter("wp_headers", function($headers) {
        unset($headers["X-Pingback"]);
        return $headers;
    });
    // disable pingbacks
    add_filter( "xmlrpc_methods", function( $methods ) {
        unset( $methods["pingback.ping"] );
        return $methods;
    });
}